form {
    height: 500px;
    display: grid;
    place-content: center;
}

input[type='time'] {
    border: none;
    outline: none;
    lighting-color: antiquewhite;
}

dialog::backdrop {
    background-color: darkblue;
    opacity: 20%;
}